.header {
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Logo */
  .logo {
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
  }
  
  .logo img {
    height: 50px; /* Adjust the height as necessary */
    margin-right: 10px;
  }
  
  /* Menu */
  .menu {
    height: 60px;
    display: flex;
    align-items: center;
    gap: 60%;
    flex-grow: 1;
    position: relative;
  }
  
  .menu a {
    color: #d0d0d0; /* Màu chữ */
    text-decoration: none;
    font-size: 1em;
  }
  
  .menu a:hover {
    color: #ffffff; /* Màu khi hover */
  }
  
  /* Login/Register buttons */
  .reader-button {
    display: flex;
    gap: 10px;
    position: relative;
    left: 20px;
    font-size: 1.25em;
  }