.login-screen {
  height: 100vh;
  background-color: var(--background-color);
}

.login-container {
  width: 50%;
  border-radius: 8px;
  margin:auto;
}

.login-container h2 {
  color: #333;
}

.back-button {
  background: none;
  border: none;
  font-weight: bold;
  color: #333;
  transition: color 0.3s ease, transform 0.3s ease;
}

.back-button:hover {
  color: #007bff;
  transform: translateX(-2px);
  text-decoration: none;
}

.back-button:focus {
  outline: none;
  box-shadow: none;
}

