.profile-screen {
  height: 100vh;
  background-color: var(--background-color);
}

.profile-container {
  width: 50%;
  border-radius: 8px;
  margin-bottom: 300px;
}

.profile-container h2 {
  color: #333;
}
