.topic_screen{
    max-width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9; 
    color: #333; 
    border-radius: 8px;
    width: 100%;
}

.table-header, .table-row {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }
  
  .table-header {
    font-weight: bold;
    color: #5a5a5a;
    border-bottom: 1px solid #ddd;
  }
  
  .table-row:hover {
    background-color: #f8f9fa; /* Light hover effect */
  }
  
  .text-black {
    color: black !important;
  }

  h2{
    font-size: 1.5em;
  }
  